body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.estilo1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orange;
    width: 100%;
}
.campos-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.labelCampos {
    padding: 05px;
    font-size: 20px;
}
main {
    
}
header {
    display: flex;
    width: 100%;
}
header h1 {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 0px;
    width: 100%;
    text-align: center;
}